body{
   margin: 0;
   padding: 0;
   background-color: rgb(97, 152, 142);
}
.container{
    margin-top: 3rem;
margin-left: auto;
margin-right: auto;
width: 80%;
padding: 4%;
background: rgb(175, 146, 157);
}
h1{
    background-color: rgb(75, 83, 88);
    color: wheat;
    text-align: center;
    margin-bottom: 2rem;
}
 table{
     background-color: rgb(210, 214, 239);
     width: 100%;
     margin-bottom: 2rem;
  
 }
table,tr, td{
    border: 2px solid rgb(56, 97, 140);
    border-collapse: collapse; 
}
td{
    font-style: oblique;
height:4.5rem;
width: 4.5rem;
  text-align: center;
}

input[type=date]{
    display: block;
    margin: .5rem;
}
#date1{
    margin-bottom: 2rem;
}
.datesContainer{
    display: block;
    flex-direction: column;
}

.blockColor1{
    background-color: brown;
}

.blockColor2{
    background-color: blue;
}
.dayMatch{
    background-color: green;
}
@media screen and (max-width: 425px){
 tr{
      display: flex;
      flex-direction: column;
 margin:  0rem;
   border: 2px solid rgb(56, 97, 140);
    }
td{
    height:3.5rem;
width: 4.5rem;

}
    table{
        width: 4.5rem;
    }
 
  .weekdayContainer{
     display: flex;
     justify-content: space-around;
  }

}
@media screen and (max-width:320px){
table{
    margin-right: 1.5rem;
}
}